.styleNav{
    list-style: none;
}
.bg_Violeta{
    background-color: map-get($map: $colors, $key: "violeta");
    color: map-get($map: $colors, $key: 'white');
}
.bg_Morado{
	background-color: map-get($map: $colors, $key: 'morado')
}