// colors
$colors:(
  'green': hsl(132, 100%, 65%),
  'darkGreenTrans':hsla(132, 100%, 65%, 0.5),
  'yellow': hsl(38, 100%, 65%),
  'white': hsl(131, 33%, 87%),
  'darkGrey': hsla(127, 8%, 20%, 0.5),
  'grey': hsl(0, 0%, 47%),
  'azul': hsl(251, 100%, 30%),
  'rojo': hsl(0, 100%, 30%),
  'rojoTrans': hsla(0, 64%, 44%, 0.432),
  'verde': hsl(128, 100%, 30%),
  'amarillo': hsl(56, 100%, 30%),
  'darkYellow': hsl(38, 56%, 32%),
  'black':hsl(120, 100%, 0%),
  'violeta': hsl(326, 75%, 44%),
  'morado': hsl(300, 89%, 24%),
  'moradoTrans': hsla(300, 89%, 24%, 0.5),
  'rosado': hsl(355, 83%, 77%),
  'rosadoTrans': hsla(355, 82%, 85%, 0.7),
  
);
//breakpoints
$breakpoints: (
  ssm: 200px,
  sm : 576px,
  md : 768px,
  lg : 992px,
  xl : 1200px,
);
//mixins
@mixin media_up ($breakpoint) {
  @media screen and (min-width: map-get($breakpoints,$breakpoint)){
    @content
  }
};
// name selector{@include media_up(ssm/sm/md/lg){Element to changue}}
@mixin d_flex ($f_direction,$j_content) {
  display: flex;
  flex-direction: $f_direction;
  justify-content: $j_content;
};
// name selector{@include d_flex(column/row,flex-start/center/flex-end/space-between/space-around/space-evenly/);}
@mixin contact_span ($btn_width,$btn_height,$btn_background){
  width: $btn_width;
  height: $btn_height;
  background: $btn_background;
};
// name selector{@include contact_span(width,height,background);}